.char-card {
  width: 80%;
  gap: 10px;
}
.char-card--Dead,
.char-card--Alive,
.char-card--unknown {
  width: 80%;
  max-width: 200px;
  padding: 10px;
  border: 1px solid rgb(7, 177, 255);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 3px 5px rgb(12, 12, 12);
}

.char-card--Dead:hover {
  box-shadow: 0px 0px 6px 3px rgb(255, 8, 8);
}
.char-card--Alive:hover {
  box-shadow: 0px 0px 6px 3px rgb(26, 252, 18);
}
.char-card--unknown:hover {
  box-shadow: 0px 0px 6px 3px rgb(255, 255, 255);
}

.char-card--Alive {
  background-color: rgba(19, 134, 19, 0.61);
}

.char-card--Dead {
  background-color: rgba(194, 12, 12, 0.616);
}
.char-card--unknown {
  background-color: rgba(128, 128, 128, 0.623);
}
img {
  width: 90%;
}

h2,
p,
span {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin: 0;
}
h2 {
  font-size: 30px;
  color: rgb(255, 252, 103);
  text-shadow: 1px 2px 1px rgb(14, 13, 13);
}
p {
  font-size: 25px;
  color: rgb(43, 213, 255);
  text-shadow: 1px 2px 1px rgb(14, 13, 13);
}
span {
  font-size: 20px;
  color: rgb(219, 219, 219);
  text-shadow: 1px 2px 1px rgb(14, 13, 13);
}
@media screen and (min-width: 768px) {
  .char-card--Dead,
  .char-card--Alive,
  .char-card--unknown {
    width: 80%;
    display: flex;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    height: 350px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  h2,
  p,
  span {
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    margin: 0;
    width: 200px;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h2 {
    font-size: 23px;
  }
  img {
    margin-bottom: 10px;
  }
}
